<body>
<h1>
  Create new customer
</h1>

<form method="POST" action="/customer" id="create_customer">
  <input name="name" type="text" placeholder="customer name"/>
  <input name="phone" type="text" placeholder="customer phone"/>
  <button type="submit"> Add customer</button>
</form>
</body>