<body>
<h1>
  Create new item
</h1>

<form method="POST" action="/items/create">
  <input name="name" type="text" placeholder="item name"/>
  <input name="price" type="text" placeholder="item price"/>
  <button type="submit"> Add Item</button>
</form>
</body>