<h1>Items</h1>


<table>
  <thead>
  <th>Name</th>
  <th>Price</th>
  </thead>
  <tbody>
  <% items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<a href="/items/new"> New item </a>