<!DOCTYPE html>
<html>
<head>
  <title>Order Information</title>
</head>
<body>
<h1 style="text-align: center">ORDER INFORMATION</h1>
<ul>
  <li>Reference number = <%= order.reference_no %></li>
  <li>Customer name = <%= order.customer_name %></li>
  <li>Date = <%= order.date %></li>
</ul>
</body>
</html>